*{
    margin: 0;
    box-sizing: border-box;
}

.footer{
    background-color: black;
    width: 100%;
    bottom: 0;
}

.logofooter{
    padding-top: 30px;
    width: 15rem;
}

.info{
    color: white;
}

.contactosfooter{
    padding-top: 40px;
    font-size: .9rem;
}

.contactosfooter a:hover{
    color: #40ACDF!important;
}

.marginsfooter{
    margin: 0 2rem;
}

.legalesfooter{
    font-size: .9rem;
    padding: 2rem 0;
}

.legalesfooter a:hover{
    color: #40ACDF!important;
}

.listo{
    border-bottom: 2px solid #4D4D4D;
}

.copyright{
    padding: 2rem 0;
    color: #545454;
}

.paso1{
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0 0 40px lightgray;
    height: auto;
}

.paso2{
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0 0 20px lightgray;
    height: auto;
}

.opciones{
    margin: 3rem;
}

.titulo{
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #3D3D3C;
}

.inputform{
    color: #3D3D3C;
    font-size: 20px;
}

.input{
    width: 40%;
    border: 1px solid #BCBCBC;
    border-radius: 5px;
    padding: 10px;
}

input::placeholder{
    text-align: center;
}

.d-none{
    display: none;
}

.form-check{
    border: 1px solid #BCBCBC;
    width: auto;
    padding: 5px;
    margin: auto;
    width: 40%;
    border-radius: 50px;
    padding-left: 0!important;
}

.form-check:hover{
    box-shadow: 0 0 5px gray;
}


.form-check label{
    cursor: pointer;
    width: 100%;
}

.check{
    float: left;
    margin-top: 5px;
}

.form-check label input{
   visibility: hidden;
}

.checkmark{
    border: 1px solid #40ACDF;
    color: #40ACDF;
}

.btn{
    background-color: #40ACDF!important;
    color: white!important;
    border-radius: 50px!important;
    width: 40%;
    padding: 40px;
}

.btn span{
    float: left!important;
    font-size: 18px;
    font-weight: bold;
    margin-left: 4rem;
    margin-top: 0.2rem;
}

.btn i{
    float: right;
    margin-right: 5rem;
    font-size: 1.8rem;
    margin-top: 0.3rem;
}

.btn .arrow{
    transition: all 0.5s!important;
}

.btn:hover .arrow{
    margin-right: 50px!important;
    transition: all 0.5s!important;
}

.btn:hover{
    box-shadow: 0 0 5px gray;
}

textarea{
    outline: #40ACDF!important;
    resize: none!important;
    overflow: hidden!important;
    width: 40%;
    border-radius: 5px;
}

textarea::placeholder{
    padding: 10px;
}
/*.form-check label input:checked{
    visibility: visible;
}*/

.form-check-inline label{
    margin-right: 1rem;
    font-size: 16px;
}

@media (max-width: 704px) {
    .info1{
        display: none;
    }
    .info2{
        width: 100%;
        display: inline-block!important;
    }
    .logofooter{
        width: 10rem;
    }
  }

  @media (max-width: 991px){
        .btn i{
            margin-right: 3rem!important;
        }
    }

  @media (max-width: 768px){
        .btn i{
            margin-right: 1.7rem!important;
        }
        .btn span{
            margin-left: 2rem;
        }
        .form-check{
            width: 50%;
        }
        .form-input{
            width: 50%;
        }
        #explicarmas{
            width: 50%;
        }

    }
    @media (max-width: 575px){
        .btn{
            width: 80%;
        }
        .form-check{
            width: 80%;
        }
        .form-input{
            width: 80%;
        }
        #explicarmas{
            width: 80%;
        }
    }